version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=sqlite:///db.sqlite3
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - SECRET_KEY=${DJANGO_SECRET_KEY}
      - DEBUG=${DEBUG}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
    volumes:
      - ./backend:/app
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"

  # frontend:
  #   build: ./crm-pride
  #   ports:
  #     - "3000:80"
  #   environment:
  #     - REACT_APP_API_URL=https://5.129.246.53/api
  #     - REACT_APP_TELEGRAM_BOT_NAME=${TELEGRAM_BOT_NAME}
  #   depends_on:
  #     - backend

  telegram-bot:
    build: ./backend
    command: python telegram_bot.py
    environment:
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - API_BASE_URL=http://backend:8000/api
      - MINI_APP_URL=http://frontend
    depends_on:
      - backend

  caddy:
    image: caddy:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - backend
